*{
    margin:0;
    padding:0;
    }
    body{
        display: flex;
        justify-content: center;
        background-image:url('mustang.webp');
        height: 100vh;
        font-family: system-ui;
    }

.contact{
    color: white;
}
   